<div class="container-fluid">
<hr/>
  <h1> JUROS SIMPLES </h1>
  <h2># Calculadora de Juros Simples #</h2>
  

  <hr/>

  <p> Insira o seu capital inicial (R$): </p>
  <input class="form-control" type="number" [(ngModel)]="c">
  <hr/>

  <p> Insira a sua taxa de Juros (%): </p>
  <input class="form-control" type="number" [(ngModel)]="j"> 
  <hr/>

  <p> Insira o tempo de investimento (meses): </p>
  <input class="form-control" type="number" [(ngModel)]="t">
  <hr/>

   <div ng-app="" ng-init="">
   <p>Capital final com Juros Simples: R$ {{c+(c*((j/100*t)))}}</p>
   </div>

   
    <table>
    <thead>
      <th>Período</th>
      <th>Acumulado a cada período</th>
    </thead>

    <tbody>

<tr *ngFor="let jurosSimples of getSimples(); index as i;">     
        <td>{{i+1}}</td>
        <td>R$ {{jurosSimples}}</td>
      </tr>
    </tbody>
    </table>
    
 </div>



 


